<nav>
  <ul>
    <li><a href="#"><%= image_tag "logo.png" %></a></li>
    <li>
      <ul class="information_avatar">
        <li class="text">
          <i>Handcrafted by</i>
          <div><strong>Jim HLS</strong></div>
        </li>
        <li class="image">
          <a href="#"><%= image_tag "avatar.png" %></a></li>
        </li>
        </ul>
    </li>
  </ul>
</nav>
<div class="title-header">
  <h1>A joke a day keeps the doctor away</h1>
  <p>If you joke wrong way, your teeth have to pay. (Serious)</p>
</div>